.App {
  text-align: center;
  height: 100%;
}

#root, body, html {
  height: 100%;
}

.linked-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.linked-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
}

.linked-list-node-container {
  width: 10%;
  height: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.linked-list-node-data {
  background-color: #82AAE3;
  font-size: 1em;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-style: solid;
}

.linked-list-node-next {
  font-size: xx-large;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-style: solid;
}

.buttons-container {
  width: 100%;
  height: 35%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.add-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-size: 1.5em;

  margin-left: 20px;
}

.add-node-button {
  margin-left: 20px;
}

.remove-node-button {
  margin-left: 20px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
}

.stack-frame {
  background-color: #82AAE3;
  font-size: 1em;
  width: 30%;

  border-style: solid;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  width: 50%;
  height: 100%;
}

.stack-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  width: 50%;
  height: 50%;
}

.arrow {
  width: 100px;
}

.queue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 30%;
}

.queue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 65%;
}

.queue-element {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15%;
  height: 40%;

  background-color: #82AAE3;
  font-size: 1em;
  border-style: solid;
}
