.App {
  text-align: center;
  height: 100%;
}

#root, body, html {
  height: 100%;
}

.linked-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
}

.linked-list-node-container {
  width: 10%;
  height: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.linked-list-node-data {
  background-color: #82AAE3;
  font-size: 1em;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-style: solid;
}

.linked-list-node-next {
  font-size: xx-large;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-style: solid;
}

.arrow {
  width: 100px;
}
